@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
.stakeholder-wrap {
    font-family: 'Oregano', cursive;
    }

.comments {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    margin: 0 -8px;
    }   

.comment-img {
    max-width: 64px;
    }
    
.img-prof {
    width: 10rem;
    padding: .2rem;
    border-radius: 20px;
    border: 2px solid #d99d68;
}

.img-prof:hover {
    transition: transform .2s; 
    transform: scale(1.05);
  }
.comments-text {
    margin-left: 1rem;
    padding: .2rem;
}
.divider {
width: 2px;
margin: 6px 0;
background: rgba(37, 37, 37, 0.1);
}
    
 